<div class="component-spec-inner">

	<a href="#" class="component-spec-show-detail-button icon icon-question"></a>

	<div class="component-spec-detail">
		<div class="component-spec-detail-inner">

			<div class="component-spec-detail-item browser-support">
				<div class="component-spec-detail-item-inner">
					<div class="component-spec-detail-item-title">
						<div class="component-spec-detail-item-title-inner">{{{_componentSpec._browserSupport.title}}}</div>
					</div>
					<div class="component-spec-detail-item-support">
						<div class="component-spec-detail-item-support-inner">{{{_componentSpec._browserSupport.minimumSupport}}}</div>
					</div>
					<div class="component-spec-detail-item-notes">
						<div class="component-spec-detail-item-notes-inner">{{{_componentSpec._browserSupport.notes}}}</div>
					</div>
				</div>
			</div>

			<div class="component-spec-detail-item accessibility-support">
				<div class="component-spec-detail-item-inner">
					<div class="component-spec-detail-item-title">
						<div class="component-spec-detail-item-title-inner">{{{_componentSpec._accessibilitySupport.title}}}</div>
					</div>
					<div class="component-spec-detail-item-support">
						<div class="component-spec-detail-item-support-inner">{{{_componentSpec._accessibilitySupport.supported}}}</div>
					</div>
					<div class="component-spec-detail-item-notes">
						<div class="component-spec-detail-item-notes-inner">{{{_componentSpec._accessibilitySupport.notes}}}</div>
					</div>
				</div>
			</div>

			<div class="component-spec-detail-item additional-information">
				<div class="component-spec-detail-item-inner">
					<div class="component-spec-detail-item-title">
						<div class="component-spec-detail-item-title-inner">{{{_componentSpec._additionalInformation.title}}}</div>
					</div>
					<ul class="component-spec-additonal-inforamtion-items">
						{{#each _componentSpec._additionalInformation._additionalInformationItems}}
						<li class="component-spec-additonal-inforamtion-item">{{{information}}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>