<div class="hint__inner">

  <button class="hint__btn {{#if _hint._button._iconClass}} btn-icon{{/if}}{{#if _hint._button._alignIconRight}} align-icon-right{{/if}}{{#if _hint._button.text}} btn-text{{/if}} js-hint-btn-popup"
  {{#unless _hint._button.text}}
  {{#if _hint._button.ariaLabel}}
   aria-label="{{_hint._button.ariaLabel}}"
  {{else}}
   aria-label="{{_globals._extensions._hint.openButtonText}}"
  {{/if}}
  {{/unless}}>
    
    {{#if _hint._button._iconClass}}
    <span class="hint__btn-icon">
      <span class="icon {{_hint._button._iconClass}}" aria-hidden="true"></span>
    </span>
    {{/if}}

    {{#if _hint._button.text}}
    <span class="hint__btn-text">
      <span class="hint__btn-text-inner">
        {{{_hint._button.text}}}
      </span>
    </span>
    {{/if}}

  </button>

</div>
