<div class="hint-popup__inner">

  <div class="hint-popup__content">
    <div class="hint-popup__content-inner">

      {{#if _hint.title}}
      <div class="hint-popup__title" id="notify-heading">
        <div class="hint-popup__title-inner" role="heading" aria-level="{{a11y_aria_level _id 'notify' _ariaLevel}}">
          {{{compile _hint.title}}}
        </div>
      </div>
      {{else if _hint.altTitle}}
      <div class="hint-popup__title aria-label" id="notify-heading">
        <div class="hint-popup__title-inner" role="heading" aria-level="{{a11y_aria_level _id 'notify' _ariaLevel}}">
          {{{compile _hint.altTitle}}}
        </div>
      </div>
      {{/if}}

      {{#if _hint.body}}
      <div class="hint-popup__body">
        <div class="hint-popup__body-inner">
          {{{compile _hint.body}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>

</div>
